<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="env">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://topic.ykt.cbern.com.cn/web/hub/videoplayer/xeduvideoplayer.min.css" type="text/css" rel="stylesheet" />
    <script src="https://topic.ykt.cbern.com.cn/web/hub/videoplayer/xeduvideoplayer.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="main">
      <div class="content">
        <video id="video-dom" class="video-js" />
      </div>
    </div>
  </body>
</html>
